@import "tailwindcss";
@import "tailwindcss-animated";
@import "bootstrap-icons/font/bootstrap-icons";

@font-face {
	font-family: "BigBlueTerm";
	src: url("/fonts/BigBlueTerm437NerdFont-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #11111b;
}

button,
img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	cursor: pointer;
}

.outline-none:focus {
	outline: none;
}

input:focus {
	outline: 2px solid #45475a;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #313244 inset;
	-webkit-text-fill-color: #cdd6f4;
	color: #cdd6f4;
	caret-color: #cdd6f4;
}

::selection {
	background-color: #bb83ff;
	color: #cdd6f4;
}

.scroll-hide::-webkit-scrollbar {
	display: none;
}

.scroll-hide {
	-ms-overflow-style: none; /* IE y Edge */
	scrollbar-width: none; /* Firefox */
}

.scroll-black::-webkit-scrollbar {
	background-color: #313244;
	width: 12px;
	height: 12px;
}

.scroll-black::-webkit-scrollbar-thumb {
	background-color: #585b70;
}

/* animations - keyframes */

@keyframes open {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes close {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0);
	}
}

@keyframes jump-top-in {
	0% {
		opacity: 0.75;
		scale: 0.75;
		transform: translateY(50px);
	}
	50% {
		opacity: 0.75;
		scale: 0.75;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes jump-bottom-out {
	0% {
		opacity: 1;
		scale: 1;
	}
	100% {
		opacity: 0;
		scale: 0;
	}
}

@keyframes copy {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes shake-error {
	0% {
		transform: translateX(0);
	}
	5% {
		transform: translateX(5px);
	}
	10% {
		transform: translateX(-5px);
	}
	15% {
		transform: translateX(5px);
	}
	20% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(0);
	}
}

/* animations - classes */

.animate-open {
	animation: open 0.2s linear;
}

.animate-close {
	animation: close 0.2s ease;
}

.animate-jump-top-in {
	animation: jump-top-in 0.5s ease;
}

.animate-jump-bottom-out {
	animation: jump-bottom-out 0.5s ease forwards;
}

.animate-copy {
	animation: copy 0.3s ease-out;
}

.animate-shake-error {
	animation: shake-error 2s ease-out;
}

dialog::backdrop {
	background: transparent;
}
